html,
body {
	height: 100%;
	margin: 0;
	position: relative;
}

.root {
	background: black;
	display: grid;
	height: 100%;
	position: relative;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 3fr 7fr 2fr;
	grid-template-areas: 
		'header header'
		'aside section'
		'footer footer';
}

.header {
	grid-area: header;
	background: lime;
}

.aside {
	grid-area: aside;
	background: cyan;
}

.section {
	grid-area: section;
	background: white;
}

.footer {
	grid-area: footer;
	background: lightgray;
}